body {
  background-image: url("image.jpg") ;
  
}
.App {
  margin: 0 auto;
}

.container-fluid {
  text-align: center;
 max-width: 700px;
 margin-top: 40px;
 padding: 50px;
 border-radius: 10px;
 backdrop-filter: blur(8px);
border: solid rgb(234, 217, 197, .2);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

ul {
  list-style-type: none;
  
}

footer {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

a {
  color:#5668a4;
}