.form-control {
    border-radius:5px;
    border-color: white;
    background-color: transparent;
    color: gray;
    
}
input.btn {
    border-radius:5px;
    color: white;
    background-color: transparent;
    border-color: white;
    
    
}
h1 {
    padding-top: 30px;
    padding-bottom: 15px;
    align-items: center;
    
}
.weather-data {
    display:flex;
    justify-content: center;
}

.temperature {
    font-size: 66px;
    
}
.unit {
    font-size: 16px;
    position: relative;
    top: -32px;
}

.weather-details {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}