input.form-control {
    border-radius:0px;
    background-color: transparent;
    color: rgb(66, 66, 66);
    border: none;
  border-bottom: 2px solid white;  
}
 input.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: white;
 }

input.btn {
    border-radius:20px;
    color: #2d3654;
    background-color: white;
    border-color: white;     
}

input.btn:hover {
    border-color: white;  
}

h1 {
    padding-top: 30px;
    padding-bottom: 15px;
    align-items: center;
    
}
.weather-data {
    display:flex;
    justify-content: center;
}

.temperature {
    font-size: 66px;
    
}
.unit {
    font-size: 16px;
    position: relative;
    top: -32px;
}

.weather-details {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}